:root {
     --color-1a:#10B981;
     --colore-1b:#ECFDF5;
     
}

body {
     background-color:var(--colore-1b);
     text-align: center;
}


    
#container {
     background-color: var(--color-1a);
     padding: 5%;
     padding-bottom: -2%;
}

.links {
     list-style: none;
     text-decoration: none;
     color: var(--colore-1b);
     margin-left: 2%;
     margin-right: 2%;
     font-size: x-large;
}

.angle-sty {
     color: var(--color-1a);
     margin-bottom: -4%;
     

}
.angle-input {

     color: var(--colore-1b);
     display: block;
     margin: auto;
     background-color: var(--color-1a);
     padding: 1%;
     font-size: large;
     margin-top: 2%;
     
}

.side-input {
     display: block;
     margin-bottom: 2rem;
     color: var(--colore-1b);
     background-color: var(--color-1a);
     cursor: pointer;
     font-size: large;
     padding: 1%;
     margin-left: auto;
     margin-right: auto;
}

.hypo {
     margin-right: 45%;
 
}
.base-and-height {
     display: block;
     margin-bottom: 2rem;
     color: var(--colore-1b);
     background-color: var(--color-1a);
     font-size: large;
     padding: 1%;
     margin-left: auto;
     margin-right: auto;
     cursor: pointer;
}

#btn-check {
     font-size: xx-large;
     color: var(--colore-1b);
     background-color: var(--color-1a);
     border-bottom: inherit;
     padding: 0.4rem;
     border-radius: 0.3rem;
     cursor: pointer; 
     margin-top: 0.5%;
}

#area-container {
     margin-top: 4rem;

}

#output {
     margin-bottom: 30%;
}

#output-msg {
     padding-bottom: 1rem;
}

#hypotenuse-btn {
     font-size: xx-large;
     color: var(--colore-1b);
     background-color: var(--color-1a);
     border-bottom: inherit;
     padding: 0.4rem;
     border-radius: 0.3rem;
     cursor: pointer; 
     margin-top: 0.5%;
}

#submit-ans-btn {
     font-size: xx-large;
     color: var(--colore-1b);
     background-color: var(--color-1a);
     border-bottom: inherit;
     padding: 0.4rem;
     border-radius: 0.3rem;
     cursor: pointer; 
     margin-top: 0.5%;
}

.question-container {
     font-size: large;
     margin-bottom: 5%;
}

#is-triangle-btn {
     font-size: xx-large;
     color: var(--colore-1b);
     background-color: var(--color-1a);
     border-bottom: inherit;
     padding: 0.4rem;
     border-radius: 0.3rem;
     cursor: pointer; 
     margin-top: 1rem;

}

#output {
     margin-top: 7%;
     font-size: x-large;
     color: var(--color-1a);
}


.output-msg {
     margin-top: 7%;
     font-size: x-large;
     color: var(--color-1a);
     margin-bottom: 5%;
}

.footer {
     background-color: var(--color-1a);
     color: var(--colore-1b);
     padding: 0.5rem 1rem;  
     text-align: center;
     font-size: large;
  }
  
  .footer .link {
       color: var(--colore-1b);
       font-size: large;
  }
  
  .footer .social-link {
       font-size: medium;
  }
  
  .footer ul {
       padding-inline-start: 0px;
  }
  
  .footer .footer-header {
       font-weight: bolder;
       font-size: medium;
       color: var(--colore-1b);
       padding-top: 1rem;
  }
  
  .link {
     text-decoration: none;
     padding: 0.5rem 1rem;
}


.list-non-bullet {
     list-style: none;
}

.list-item-inline {
     display: inline;
     padding: 0rem 1rem;
}
